
:root {
    --primary: #003161;
    --white: #fff;
    --black: #000d33;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

}

.px-2 img{
  width: 20px;
  height: 20px;
}
/* Hearder Topbar */
.header-top > a > .number-color{
    color: #000 !important;
    padding-top: 1px;
}
/* Header-Top Left */
.icon-sid-text{
    color: #000;
    
}
.form-control{
  font-size: 17px !important;
}
.form-select{
  font-size: 17px !important;

}
.container-fluid{
  overflow: hidden;
  /* background-color: #cfcfcf; */
}
.container-fluid >p {
    margin: 0;
}
#fast-hr{
    margin: 0;
    padding: 0;
}

/* Header Main NavBar */


.search-bar {
    width: 100%;
}
.search-btn {
    background-color: #007bff;
    color: white;
}

.input-group {
	height: 110%;
	margin-top: 6px;
	width: 200%;
}

#btn-color{
    background-color: #333333 !important;
}


.text-start{
    padding-top: 14px;
}
.compare-product li img{
    width: 30px;
}

.addtocard-area {
	overflow: hidden;
	padding: 0 0 0 145px;
    padding-top: 4px;
}
.addtocard-area a{
    margin: 0 5px;
}
#btn-color{
    background-color: #000D33 !important;
    font-size: 18px;
}
#btn-color:hover{
  color: #FFF;
  background-color: #011243 !important;
}
.addtocard-area .button-icon-background-srt{
    width: 45px;
    height: 45px;
    background-color: #333333;
    border-radius: 50%;
}
.addtocard-area .button-icon-background-srt a{
    padding: 0 5px;
}
.addtocard-area .button-icon-background-srt i{
    font-size: 18px;
    padding-top: 7px;
    color: #FFF;
}
#f-flex-remove{
  height: 60px !important
}

/* Mega Menu */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}


.d-flex {
  display: flex;
  align-items: center;
}

.header-bottom-nav{
  background-color: var(--black);
  z-index: 999;
  height: 6rem;
  display: flex;
  align-items: center;
  text-align: start;
  padding-bottom: 20px;
  position: sticky !important;
  top: 0 !important;
}

.Stock-status h1{
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}
/* =========== Navigation ============ */

nav {
  padding-top: 30px;

}

.nav .wrapper {
  position: relative;
  height: 100%;
  padding: 0;

}

.wrapper .logo a {
  font-size: 3rem;
  color: var(--white);
}

.wrapper .nav-list {
	display: inline-flex;
	margin-left: 0;
	padding: 0;
}
.nav-list li i {
  color: var(--white);
}

.nav-list a {
  color: var(--white);
  font-size: 1.5rem;
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 300ms ease;
}

.nav-list a:hover {
  color: var(--primary);
}

/* =========== Drop Down ============ */
.nav-list .drop-menu1,
.nav-list .drop-menu2 {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  width: 20rem;
  top: 8.5rem;
  line-height: 4.5rem;
  position: absolute;
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.nav-list .drop-menu1 li a,
.nav-list .drop-menu2 li a {
  display: block;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 0 0 1.5rem;
  border-radius: 0;
  color: var(--white);
}

.nav-list .drop-menu1 li a:hover {
  color: var(--primary);
}

.nav-list li:hover .drop-menu1,
.nav-list li:hover .drop-menu2,
.nav-list li:hover .mega-box {
  opacity: 1;
  visibility: visible;
  top: 3.5rem;


}

/* =========== Mega Menu ============ */
.mega-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  padding: 0 3rem;
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.mega-box .content {
  padding: 2.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mega-box .content .row {
  width: calc(25% - 3rem);
  line-height: 4.5rem;
}

.mega-box .content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mega-box .content .row header {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
}

.mega-box .content .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  margin-left: -4rem;
}

.mega-box .content li {
  padding: 0 2rem;
}

.mega-box .content li a {
  padding: 0 2rem;
  display: block;
  font-size: 1.5rem;
  color: var(--white);
}

.mega-box .content li a:hover {
  color: var(--primary);
}

.nav-list .mobile-item {
  display: none;
}

.nav-list input {
  display: none;
}

.wrapper .btn {
  color: var(--white);
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

.nav-list .icons span {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  position: relative;
}

.nav-list .icons span i {
  font-size: 2rem;
}

.nav-list .icons a {
  padding: 0;
  display: inline-block;
}

.nav-list .icons .count {
  justify-content: center;
  position: absolute;
  top: 0.8rem;
  right: -0.8rem;
  background-color: var(--white);
  height: 2rem;
  padding: 0.5rem;
  color: var(--black);
  font-weight: 700;
  border-radius: 50%;
}




.containerrrr {
	position: absolute;
	margin-left: 0px;
	top: -40px;
	left: 85px;
	right: 0;
	bottom: 0;
	width: 300px;
	height: 100px;
}

.containerrrr .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 38px;
  border-radius: 10px 50px;
  background: #003161;
  /* border-radius: 50%; */
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  /* box-shadow: 0 0 25px 0 crimson; */
}

.containerrrr .search:hover {
  cursor: pointer;
}

.containerrrr .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 10px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all .5s;
}

.containerrrr .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all .5s;
}

.containerrrr input {
  font-family: 'Inconsolata', monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  background: #003161;
  color: white;
  text-shadow: 0 0 10px #003161;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 #003161,
              0 20px 25px 0 rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.containerrrr input:hover {
  cursor: pointer;
}

.containerrrr input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}

.containerrrr input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.containerrrr input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.containerrrr input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.containerrrr input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}

/* Hero section CSS */
.hero-section{
  background-color: #E9EFEC !important;
  height: 100vh;
}
.hero-section .hero-sectiuon {
	width: 100%;
	height: 100vh;
	margin-top: -10%;
}
.slider_circle_10{
  width: 86vw !important;
  margin-top: -75px;
}
.slider_circle_10 .active {
	width: 60% !important;
	height: 60% !important;
  margin-left: -30% !important;
}

.slider_circle_10 .next_button,
.slider_circle_10 .prev_button
{
  background-color: #003161 !important;
}


/* Product Branding logo Slider */

.product-carosol {
	padding-top: 60px;
	padding-bottom: 16px;
  background-color: #d0d0d0;
}
.align-items-md-center{
  padding-bottom: 20px;
}

.product-carosol h1{
  padding-bottom: 10px;
  display: block;
  text-align: center;
}

.slide-track .slide{
  margin: auto;
  display: block;
  align-items: center;
}

.slide img {
  width: 100px;
  height: 100px;
  /* animation: scroll 40s linear infinite; */

}

.slide-track {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
  

}

/* @keyframes scroll {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
} */




/* ================= */
.product-section{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


#header {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 1px 1px 31px -8px #000000; 
  box-shadow: 1px 1px 31px -8px #000000;
}
.col-lg-4,
.col-md-6 {
  padding-right: 0;
}
button.btn.btn-hide {
  height: inherit;
  background-color: #003161;
  color: #fff;
  font-size: 0.82rem;
  padding-left: 40px;
  padding-right: 40px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.btn:focus {
  box-shadow: none;
}
.box-label .btn {
  background-color: #fff;
  padding: 0;
  font-size: 0.8rem;
}
.btn-red {
  background-color: #e00000ce;
}
.btn-orange {
  background-color: #ffa500;
}
.btn-pink {
  background-color: #e0009dce;
}
.btn-green {
  background-color: #00811c;
}
.btn-blue {
  background-color: #026bc2;
}
.btn-brown {
  background-color: #994a00;
}
.navbar01 {
  display: inline-flex;
  padding-bottom: 25px;
}
.pagination{
  padding-bottom: 40px;
}
#pagination ul li{
  padding: 0 5px;
}
#pagination ul li a{
  margin: 0 10px;
}
.pagination .page-item .page-link {
  color: #333;
  border: none;
  width: 40px;
  text-align: center;
}

.pagination .page-item.active .page-link {
  background-color: #fff;
  border: 1px solid #333;
}
.nav-item select {
  outline: none;
  padding: 6px 12px;
  margin: 0px 4px;
  color: #999;
  font-size: 0.85rem;
  width: 140px;
}
#select2 {
  border: 1px solid #777;
  color: #999;
}
#pro {
  border: none;
  color: #333;
  font-weight: 700;
  padding-left: 0px;
  width: initial;
}
#filterbar {
  width: 30%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
  float: left;
}
#filterbar input[type="radio"] {
  visibility: hidden;
}
#filterbar input[type="radio"]:checked {
  background-color: #000D33;
  border: none;
}
#filterbar .btn.btn-success {
  background-color: #ddd;
  color: #333;
  border: none;
  width: 115px;
}
#filterbar .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#filterbar .btn-success:not(:disabled):not(.disabled).active,
#filterbar .btn-success:not(:disabled):not(.disabled):active {
  background-color: #16c79a;
  color: #fff;
}
.btn-group label {
  cursor: pointer;
}
.tick {
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  margin: 0;
}
.tick input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check {
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.tick:hover input ~ .check {
  background-color: #f3f3f3;
}
.tick input:checked ~ .check {
  background-color: #ffffff;
}
.check:after {
  content: "";
  position: absolute;
  display: none;
}
.tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1);
}
.tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2);
}
.boxx {
  padding: 10px;
}
.box-label {
  color: #11698e;
  font-weight: 800;
}
#inner-box,
#inner-box2 {
  height: 250px;
  overflow-y: scroll;
}
#inner-box2 {
  height: 250px;
}
#inner-box::-webkit-scrollbar,
#inner-box2::-webkit-scrollbar {
  width: 6px;
}
#inner-box::-webkit-scrollbar-track,
#inner-box2::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 2px;
}
#inner-box::-webkit-scrollbar-thumb,
#inner-box2::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 2px;
}
#price {
  height: 45px;
}
#size input[type="checkbox"] {
  visibility: hidden;
}
#size input[type="checkbox"]:checked {
  background-color: #16c79a;
  border: none;
}
#size .btn.btn-success {
  background-color: #ddd;
  color: #333;
  border: none;
  width: 40px;
  border-radius: 0;
}
#size .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#size .btn-success:not(:disabled):not(.disabled).active,
#size .btn-success:not(:disabled):not(.disabled):active {
  background-color: #16c79a;
  color: #fff;
}
#size label {
  margin: 10px;
  margin-left: 0px;
}
.card {
  padding: 20px 10px 40px 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

}
.card:hover {
  box-shadow: 2px 2px 15px #000;
  transform: scale(1.02);
}
.card .product-name {
  font-weight: 600;
}
.card-body {
  padding-bottom: 0;
}

.card-img img {
  padding-top: 10px;
  width: inherit;
  height: 180px;
  object-fit: contain;
  display: block;
}
.card-body .btn-group .btn {
  padding: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
}
.card-body .btn-group > .btn-group:not(:last-child) > .btn,
.card-body .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 50%;
  transition: ease-in all 0.4s;
}
.card-body input[type="radio"] {
  visibility: hidden;
}
.card-body .btn:not(:disabled):not(.disabled).active::after,
.card-body .btn:not(:disabled):not(.disabled):active::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 4px;
  left: 4.2px;
  background-color: #fff;
  position: absolute;
  transition: ease-in all 0.4s;
}
.card-body .btn.btn-light:not(:disabled):not(.disabled).active::after,
.card-body .btn.btn-light:not(:disabled):not(.disabled):active::after {
  background-color: #000;
}
#avail-size input[type="checkbox"] {
  visibility: hidden;
}
#avail-size input[type="checkbox"]:checked {
  background-color: #16c79a;
  border: none;
}
#avail-size .btn.btn-success {
  background-color: #ddd;
  color: #333;
  border: none;
  width: 20px;
  border-radius: 0;
  padding: 0;
}
#avail-size .btn.btn-success:hover {
  background-color: #aff1e1;
  color: #444;
}
#avail-size .btn-success:not(:disabled):not(.disabled).active,
#avail-size .btn-success:not(:disabled):not(.disabled):active {
  background-color: #16c79a;
  color: #fff;
}
#avail-size label {
  margin: 10px;
  margin-left: 0px;
}
#shirt {
  height: 170px;
}
.middle {
  position: relative;
  width: 100%;
  margin-top: 25px;
}
.sliderrr {
  position: relative;
  z-index: 1;
  height: 5px;
  margin: 0 15px;
}
.sliderrr > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #ddd;
}
.sliderrr > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #36a31b;
}
.sliderrr > .thumb {
  position: absolute;
  top: 2px;
  z-index: 3;
  width: 20px;
  height: 20px;
  background-color: #36a31b;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(63, 204, 75, 0.705);
  transition: box-shadow 0.3s ease-in-out;
}
.sliderrr > .thumb::after {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 28%;
  top: 30%;
  border-radius: 50%;
  content: "";
  background-color: #fff;
}
.sliderrr > .thumb.left {
  left: 25%;
  transform: translate(-15px, -10px);
}
.sliderrr > .thumb.right {
  right: 25%;
  transform: translate(15px, -10px);
}
.sliderrr > .thumb.hover {
  box-shadow: 0 0 0 10px rgba(125, 230, 134, 0.507);
}
.sliderrr > .thumb.active {
  box-shadow: 0 0 0 10px rgba(63, 204, 75, 0.623);
}
input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
.del {
  text-decoration: line-through;
  color: red;
}
@media (min-width: 1199.6px) {
  #filterbar {
    width: 25%;
  }
}
@media (max-width: 1199.5px) {
  #filterbar {
    width: 28%;
  }
  .card {
    height: 350px;
  }
  .price {
  }
  .product-name {
  }
}
@media (max-width: 991.5px) {
  .navbar-nav {
    min-width: 290px;
    position: absolute;
    left: -168px;
    bottom: -146px;
    padding: 20px 10px;
    display: block;
    background-image: none;
    z-index: 2;
    background-color: #1d1c1cb2;
  }
  #filterbar {
    width: 36%;
  }
  #sort {
    background-color: inherit;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  #sort option,
  #pro option {
    color: #000;
  }
  #pro,
  #select2,
  .result {
    background-color: inherit;
    color: #fff;
  }
  .card {
    height: 345px;
  }
  .price {
  }
}
@media (max-width: 767.5px) {
  #filterbar {
    width: 50%;
  }
}
@media (max-width: 525.5px) {
  #filterbar {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  #content.my-5 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .col-lg-4,
  .col-md-6 {
    padding-left: 0;
  }
}
@media (max-width: 500.5px) {
  .pagination {
    display: none;
  }
}

































/* =========== Media Query Website Responsive ============ */


@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

@media (max-width: 535px){
  .navbar{
    height: 100px !important;
  }
  .text-center{
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #logo{
    margin-top: 65px !important;
  }
  .col > .addtocard-area {
	margin-top: -32px !important;
	display: flex !important;
	justify-content: space-between !important;
}

  .slider_circle_10 {
    margin-top: 0px !important;
  }
  .hero-section {
    height: 30vh ;
  }
  .slider_circle_10 .next_button, .slider_circle_10 .prev_button {
    z-index: 4 !important;
  }
}

/* ========== */

@media (max-width: 968px) {
  .wrapper .nav-list {
    position: fixed;

    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    max-width: 35rem;
    background-color: var(--black);
    display: block;
    overflow-y: auto;
    line-height: 5rem;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
    transition: all 300ms linear;
  }

  .wrapper .nav-list.show {
    left: 0;
    z-index: 100;
  }

  .nav-list li {
    margin: 1.5rem 1rem;
  }

  .nav-list a {
    display: block;

    padding: 0 2rem;
  }

  .nav-list .drop-menu1,
  .nav-list .drop-menu2 {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 6.5rem;
    padding-left: 2rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
  }

  #showdrop1:checked ~ .drop-menu1,
  #showdrop2:checked ~ .drop-menu2,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }

  .nav-list .drop-menu1 li,
  .nav-list .drop-menu2 li {
    margin: 0;
  }

  .nav-list .drop-menu1 li a,
  .nav-list .drop-menu2 li a {
    color: var(--black);

  }

  .nav-list .desktop-item {
    display: none;
  }

  .nav-list .mobile-item {
    display: block;

    padding-left: 2rem;
    color: var(--white);
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .nav-list .mobile-item:hover {
    color: var(--primary);
  }

  .mega-box {
    position: static;
    top: 6.5rem;
    padding: 0 2rem;
    opacity: 1;
    visibility: visible;
    max-height: 0;
    overflow: hidden;
    background-color: var(--white);
    transition: all 300ms ease;
  }

  .mega-box .content li a {
    color: var(--black);
  }

  .mega-box .content {
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
  }

  .mega-box .content .row {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.09);
    margin-bottom: 1.5rem;
  }

  .content .row:nth-child(1),
  .content .row:nth-child(2) {
    border-top: 0;
  }

  .content .row .mega-links {
    border-left: 0;
    padding-left: 2rem;
  }

  .content .row .mega-links li {
    margin: 0;
  }

  .wrapper .btn {
    display: block;
    color: var(--white);
    float: left;
    display: flex;
    padding-left: 78%;
    margin-top: -18px;
    font-size: 48px;
  }

  .nav-list .top {
    position: relative;
    display: block;
    background-color: var(--primary);
    width: 100%;
    height: 8rem;
  }

  .nav-list .close-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    color: var(--white);
  }

  .nav-list .icons {
    display: none;
  }
}

/* Header top */

@media screen and (main-width: 1201px) {

  .addtocard-area {
    padding: 0 0 0 90px;

  }
  .input-group {
    width: 194%;
    height: 103%;
    margin-top: 9px;
  }
  .form-control{
    font-size: 15px !important;
  }
  .form-select{
    font-size: 15px !important;
  
  }
  #btn-color {
    font-size: 16px;
  }

}

@media screen and (max-width: 1001px){
  .addtocard-area {
    padding: 0 0 0 50px;
  }
  .input-group {
    width: 238%;
    height: 110%;
    margin-top: 8px;
  }
  .text-start {
    padding-top: 11px;
  }

  .input-group {
    padding: 0px 10px 0px 0px;
  }
  .form-control{
    font-size: 13px !important;
  }
  .form-select{
    font-size: 13px !important;
  
  }
  .input-group {
    width: 245%;

  }
}
@media screen and (max-width: 934px){
  .col-md-8 > .input-group{
    display: none;
  }
  .addtocard-area {
    padding: 0 0 0 0px;
  }
}


#mega-search-hide {
  display: block; 
}

#mobile-search-box {
  display: none; 
}

@media screen and (max-width: 933px) {
  #mega-search-hide {
    display: none; 
  }

  #mobile-search-box {
    display: block; 
  }
}


@media screen and (max-width: 933px){
  .containerrrr {
    top: -22px !important;
    left: -13px !important;
  }
  .wrapper .btn {
    /* display: block; */
    color: var(--white);
    float: left;
    display: flex;
    padding-left: 73%;
    margin-top: -18px;
    font-size: 48px;
    padding-top: 45px;

  }
}
@media screen and (max-width: 820px){
  #headericon-box1,
  #headericon-box2{
    display: none !important;
  }
  .addtocard-area .button-icon-background-srt {
    width: 35px;
    height: 35px;
  }
  .addtocard-area .button-icon-background-srt i {
    font-size: 14px;
  }
}

@media screen and (max-width: 535px){
  .socal-icon-box-header,
  #fb-icon{
    display: none !important;
  }
  #f-flex-remove {
    /* display: block !important; */
    justify-content: space-between !important;
    display: flex !important;
  }

  #logo, .addtocard-area {
    margin: auto !important;
    /* display: block !important; */
    text-align: center !important;
    justify-content: center;
    /* display: flex; */
    flex-direction: row;
    /* flex-direction: row; */
    /* display: flex !important; */
    /* display: block !important; */
  }
  .bx-menu::before {
    content: "\ed37";
    /* padding-right: 73px !important; */
    padding: 0 0 0 -44px;
    display: block;
    position: absolute;
    top: -0px;
    right: 3px;
  }

  .containerrrr input {
    width: 180px !important;
    height: 50px;
    margin-left: 78px !important;
    margin-top: 24px;
  }
  

  .containerrrr {
    margin-left: -109px !important;
  }
  #header-top-icon-posizion{
    display: block;
    text-align: center;
  }
  #header-social-icon-posizion{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 535px){
  #header-social-icon-posizion {
    display: flex !important;
    justify-content: space-between !important;
  }
  #icon-size-fix1,
  #icon-size-fix2{
    padding: 0 4px !important;
  }
  
}












/* ===== Shopping Filter ===== */

.pagination {
  padding-bottom: 40px;
  display: flex;
  justify-content: end;  /* Centers content horizontally */
  align-items: center;      /* Centers content vertically */
  text-align: center; 
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


.wrapper{
  padding-top: 40px;
  max-width: 96%;
  margin: auto;
}
.h3{
  font-weight: 900;
  font-size: 30px;
}
.views{
  font-size: 18px;
}
.btn{
  color: #666;
  font-size: 0.85rem;
}
.green-label{
  background-color: #003161;
  color: #FFF;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 3px;

}
.radio,.checkbox{
  padding: 6px 10px;
}
.border{
  border-radius: 12px;
}
.options{
  position: relative;
  padding-left: 25px;
}
.radio label,
.checkbox label{
  display: block;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
  font-size: 16px;
}
.options input{
  opacity: 0;
}
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.options input:checked ~ .checkmark:after {
  display: block;
}
.options .checkmark:after{
  content: "";
width: 9px;
  height: 9px;
  display: block;
background: white;
  position: absolute;
  top: 52%;
left: 51%;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark{
  background: #003161;
  transition: 300ms ease-in-out 0s;
}
.options input[type="radio"]:checked ~ .checkmark:after{
  transform: translate(-50%,-50%) scale(1);
}
.count{
  font-size: 0.8rem;
}
label{
  cursor: pointer;
}
.tick{
  display: block;
  position: relative;
  padding-left: 23px;
  cursor: pointer;
  font-size: 0.8rem;
  margin: 0;
}
.tick input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check{
  position: absolute;
  top: 1px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
}
.tick:hover input ~ .check {
  background-color: #f3f3f3;
}
.tick input:checked ~ .check {
  background-color: #003161;
}
.check:after {
  content: "";
  position: absolute;
  display: none;
}
.tick input:checked ~ .check:after {
  display: block;
  transform: rotate(45deg) scale(1);
} 
.tick .check:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg) scale(2);
}
#country{
  font-size: 16px;
  border: none;
  border-left: 1px solid #ccc;
  padding: 0px 10px;
  outline: none;
  font-weight: 900;
}
.close{
  font-size: 1.2rem;
}
div.text-muted {
	font-size: 16px;
	padding-right: 12px;
	margin: 8px 0;
}
.py-3 

#sidebar{
  width: 25%;
  float: left;
}
.category{
  font-size: 0.9rem;
  cursor: pointer;
}
.list-group-item{
  border: none;
  padding: 0.3rem 0.4rem 0.3rem 0rem;
  font-size: 18px;
}
.badge-primary{
  background-color: #003161;
  color: #FFF
}
.brand .check{
  background-color: #fff;
  top: 3px;
  border: 1px solid #666;
}
.brand .tick{
  font-size: 16px;
  padding-left: 25px;
}
.rating .check{
  background-color: #fff;
  border: 1px solid #666;
  top: 0;
}
.rating .tick{
  font-size: 0.9rem;
  padding-left: 25px;
}
.rating .fas.fa-star{
  color: #ffbb00;
  padding: 0px 3px;
}
.brand .tick:hover input ~ .check,
.rating .tick:hover input ~ .check{
  background-color: #f9f9f9;
}
.brand .tick input:checked ~ .check,
.rating .tick input:checked ~ .check{
  background-color: #003161;
}
#products{
  width: 75%;
  padding-left: 30px;
  margin: 0;
  float: right;
}
.card:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.card-body{
  padding: 0.5rem;
}
.card-body .description{
  font-size: 0.78rem;
  padding-bottom: 8px;
}
div.h6,h6{
  margin: 0;
}
.product .fa-star{
  font-size: 0.9rem;
}
.rebate{
  font-size: 0.9rem   ;
}


img{
  width: 192px;
  height: 132px;
  object-fit: contain;
}

.clear{
  clear: both;
}
.btn.btn-success{
  visibility: hidden;
}
@media(min-width:992px){
  .filter,#mobile-filter{
      display: none;
  }
}
@media(min-width:768px) and (max-width:991px){
  .radio, .checkbox {
      padding: 6px 10px;
      width: 49%;
      float: left;
      margin: 5px 5px 5px 0px;
  }
  .filter,#mobile-filter{
      display: none;
  }

  


}


@media(min-width:576px) and (max-width:767px){
  #sidebar{
      width: 35%;
  }
  #products{
      width: 65%;
  }
  .filter,#mobile-filter{
      display: none;
  }
  .h3 + .ml-auto{
      margin: 0;
  }
}

@media(max-width:767px){
  .pagination {
    padding-bottom: 40px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
  }
}


@media(max-width:575px){
  .wrapper{
      padding: 10px;
  }
  .h3{
      font-size: 1.3rem;
  }
  #sidebar{
      display: none;
  }
  #products{
      width: 100%;
      float: none;
  }
  #products{
      padding: 0;
  }
  .clear{
      float: left;
      width: 80%;
  }
  .btn.btn-success{
      visibility: visible;
      margin: 10px 0px;
      color: #fff;
      padding: 0.2rem 0.1rem;
      width: 20%;
  } 
  .green-label{
      width: 50%;
  }
  .btn.text-success{
      padding: 0;
  }
  .content,#mobile-filter{
      clear: both;
  }
}


/********************* Shopping Demo-2 **********************/
.demo{padding:45px 0}
.product-grid2{font-family:'Open Sans',sans-serif;position:relative}
.product-grid2 .product-image2{overflow:hidden;position:relative}
.product-grid2 .product-image2 a{display:block}
.product-grid2 .product-image2 img{width:100%;height:auto}
.product-image2 .pic-1{opacity:1;transition:all .5s}
.product-grid2:hover .product-image2 .pic-1{opacity:0}
.product-image2 .pic-2{width:100%;height:100%;opacity:0;position:absolute;top:0;left:0;transition:all .5s}
.product-grid2:hover .product-image2 .pic-2{opacity:1}
.product-grid2 .social{padding:0;margin:0;position:absolute;bottom:50px;right:25px;z-index:1}
.product-grid2 .social li{margin:0 0 10px;display:block;transform:translateX(100px);transition:all .5s}
.product-grid2:hover .social li{transform:translateX(0)}
.product-grid2:hover .social li:nth-child(2){transition-delay:.15s}
.product-grid2:hover .social li:nth-child(3){transition-delay:.25s}
.product-grid2 .social li a{color:#505050;background-color:#fff;font-size:17px;line-height:45px;text-align:center;height:45px;width:45px;border-radius:50%;display:block;transition:all .3s ease 0s}
.product-grid2 .social li a:hover{color:#fff;background-color:#003161;box-shadow:0 0 10px rgba(0,0,0,.5)}
.product-grid2 .social li a:after,.product-grid2 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:22px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid2 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid2 .social li a:hover:after,.product-grid2 .social li a:hover:before{opacity:1}
.product-grid2 .add-to-cart{color:#fff;background-color:#000d33;font-size:15px;text-align:center;width:100%;padding:10px 0;display:block;position:absolute;left:0;bottom:-100%;transition:all .3s}
.product-grid2 .add-to-cart:hover{background-color:#003161;text-decoration:none}
.product-grid2:hover .add-to-cart{bottom:0}
.product-grid2 .product-new-label{background-color:#003161;color:#fff;font-size:17px;padding:5px 10px;position:absolute;right:0;top:0;transition:all .3s}
.product-grid2:hover .product-new-label{opacity:0}
.product-grid2 .product-content{padding:20px 10px;text-align:center}
.product-grid2 .title{font-size:17px;margin:0 0 7px}
.product-grid2 .title a{color:#303030}
.product-grid2 .title a:hover{color:#003161}
.product-grid2 .price{color:#303030;font-size:15px}


@media screen and (max-width:990px){
  .py-3 #sidebar {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #products {
    width: 100%;
    margin: 0;
    float: right;
  }


}
@media screen and (max-width:575px){
  #reatting-nobile{
    display: none;
  }
  .align-items-sm-center{
    display: none;
  }
}



/* footer section */


.footer-section{
  display: block;

}
.footer-section::after{
  content: "";
  display: block;
  clear: both;
}


/*----------------------------------------*/
/* 6.21 Error 404 Page
/*----------------------------------------*/
.error-text h1 {
	color: #003161;
	font-size: 200px;
	font-weight: 900;
	letter-spacing: 10px;
	line-height: 200px;
	margin-bottom: 30px;
}
.error-text h2 {
  color: #242424;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.error-text > p {
  color: #242424;
  font-size: 24px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
 #search-form {
  position: relative;
  width: 450px;
  text-align: center;
  display: inline-block;
}
#search-form input {
  background: #e1e1e1 none repeat scroll 0 0;
  border: 1px solid #e1e1e1;
  border-radius: 30px;
  color: #242424;
  float: left;
  font-size: 14px;
  height: 45px;
  padding-left: 20px;
  padding-right: 55px;
  width: 100%;
}
#search-form button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4f4f4f;
  font-size: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.3s ease 0s;
  width: 50px;
}
 #search-form button:hover {
 	color:#003161;
 }
 .error-button a {
 	background: #003161 none repeat scroll 0 0;
 	border-radius: 35px;
 	color: #ffffff;
 	display: inline-block;
 	font-size: 12px;
 	font-weight: bold;
 	line-height: 40px;
 	margin-top: 53px;
 	padding: 0 30px;
 	text-transform: uppercase;
 	transition: all 0.3s ease-in-out;
}
.error-button a:hover{background:#242424;color:#fff;}
.small-version {
  display: none;
}


/*----------------------------------------*/
/* 6.3 Li's Wishlist Page
/*----------------------------------------*/
.table-content table {
	background: #fff none repeat scroll 0 0;
	border-color: #ebebeb;
	border-radius: 0;
	border-style: solid;
	border-width: 1px 0 0 1px;
	text-align: center;
	width: 100%;
	margin-bottom: 0;
}
.table-content table th,
.table-content table td {
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
}
.table-content table th {
	border-top: medium none;
	font-size: 15px;
	text-transform: capitalize;
	padding: 20px 10px;
	text-align: center;
	font-weight: 500;
	vertical-align: middle;
	white-space: nowrap;
}
.table-content table td {
	border-top: medium none;
	padding: 20px 10px;
	vertical-align: middle;
	font-size: 13px;
}
.table-content table td.li-product-remove {
	font-size: 20px;
}
.li-product-remove > a > i {
	font-size: 14px;
	font-weight: normal;
	color: #242424;
	transition: all 0.3s ease-in-out;
}
.li-product-remove > a:hover i {
	color: #003161;
}
.table-content table td.li-product-name {
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
}
.table-content table td.li-product-price {
	font-size: 16px;
	font-weight: 700;
}
.table-content table td.li-product-stock-status span.in-stock,
.table-content table td.li-product-stock-status span.out-stock {
	color: #003161;
	font-size: 12px;
	text-transform: capitalize;
}
.table-content table td.li-product-stock-status span.out-stock {
	color: #EB3E32;
}
.table-content table td.li-product-add-cart a {
	font-size: 14px;
	text-transform: uppercase;
	background: #242424;
	color: #fff;
	padding: 10px 20px;
	font-weight: 700;
	display: inline-block;
}
@media only screen and (max-width: 767px) {
	.table-content table td.li-product-add-cart a {
		font-size: 10px;
		padding: 7px 7px;
	}
}
.table-content table td.li-product-add-cart a:hover {
	background: #003161 none repeat scroll 0 0;
	color: #fff;
}




/*----------------------------------------*/
/* 6.4 Li's Checkout Page
/*----------------------------------------*/
.coupon-accordion h3 {
	background-color: #f7f6f7;
	border-top: 3px solid #003161;
	color: #515151;
	font-size: 14px;
	font-weight: 400;
	list-style: outside none none;
	margin: 0 0 30px;
	padding: 16px 32px 16px 56px;
	position: relative;
	width: auto;
	text-transform: none;
}
.coupon-accordion h3::before {
	color: #003161;
	content: "\f133";
	display: inline-block;
	font-family: "fontawesome";
	left: 24px;
	position: absolute;
	top: 16px;
}
.coupon-accordion span {
	color: #6f6f6f;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	text-transform: none;
}
.coupon-accordion span:hover {
	color: #003161;
}
.coupon-content {
	border: 1px solid #e5e5e5;
	margin-bottom: 20px;
	display: none;
	padding: 20px;
}
.coupon-info p {
	margin-bottom: 0;
}
.coupon-info p.form-row-first label,
.coupon-info p.form-row-last label {
	display: block;
}
.coupon-info p.form-row-first label span.required,
.coupon-info p.form-row-last label span.required {
	color: red;
	font-weight: 700;
	font-size: 14px;
}
.coupon-info p.form-row-first input,
.coupon-info p.form-row-last input {
	border: 1px solid #e5e5e5;
	height: 36px;
	margin: 0 0 14px;
	border-radius: 0;
	max-width: 100%;
	padding: 0 0 0 10px;
	width: 370px;
	background-color: transparent;
}
.coupon-info p.form-row input[type="submit"] {
	background: #252525 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 12px;
	height: 40px;
	line-height: 40px;
	margin-right: 15px;
	padding: 0 30px;
	text-shadow: none;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	white-space: nowrap;
	width: inherit;
}
.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
	background: #003161;
}
.form-row>label {
	margin-top: 7px;
}
.coupon-info p.form-row input[type="checkbox"] {
	height: inherit;
	position: relative;
	top: 2px;
	width: inherit;
}
p.lost-password {
	margin-top: 15px;
}
p.lost-password a {
	color: #6f6f6f;
}
p.lost-password a:hover {
	color: #003161;
}
.coupon-checkout-content {
	margin-bottom: 30px;
	display: none;
}
p.checkout-coupon input[type="text"] {
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 0;
	height: 36px;
	padding-left: 10px;
	width: 170px;
}
p.checkout-coupon input[type="submit"] {
	background: #333 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	color: #fff;
	height: 36px;
	cursor: pointer;
	margin-left: 6px;
	padding: 5px 10px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: inherit;
}
.coupon-info p.form-row input[type="submit"]:hover,
p.checkout-coupon input[type="submit"]:hover {
	background: #003161;
}
.checkbox-form h3 {
	border-bottom: 1px solid #e5e5e5;
	font-size: 25px;
	margin: 0 0 25px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.country-select {
	margin-bottom: 25px;
}
.checkout-form-list {
	margin-bottom: 30px;
}
.country-select label,
.checkout-form-list label {
	color: #333;
	margin: 0 0 5px;
	display: block;
}
.country-select label span.required,
.checkout-form-list label span.required {
	color: red;
	display: inline-block;
	font-size: 24px;
	line-height: 16px;
	position: relative;
	top: 5px;
}
.checkout-form-list input[type="text"],
.checkout-form-list input[type="password"],
.checkout-form-list input[type="email"] {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	height: 42px;
	width: 100%;
	padding: 0 0 0 10px;
}
.checkout-form-list input[type="checkbox"] {
	display: inline-block;
	height: inherit;
	margin-right: 10px;
	position: relative;
	top: 2px;
	width: inherit;
}
.create-acc label {
	color: #333;
	display: inline-block;
}
.ship-different-title h3 label {
	display: inline-block;
	margin-right: 20px;
	font-size: 25px;
	color: #363636;
}
.ship-different-title input {
	height: inherit;
	line-height: normal;
	margin: 4px 0 0;
	position: relative;
	top: 1px;
	width: auto;
}
.order-notes textarea {
	background-color: transparent;
	border: 1px solid #ddd;
	height: 90px;
	padding: 15px;
	width: 100%;
}
.create-account,
#ship-box-info {
	display: none;
}
.your-order {
	background: #f2f2f2 none repeat scroll 0 0;
	padding: 30px 40px 45px;
}
.your-order h3 {
	border-bottom: 1px solid #d8d8d8;
	font-size: 25px;
	margin: 0 0 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
}
.your-order-table table {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	width: 100%;
}
.shipping-icon img{
    width: auto;
    height: 60px;
    display: block;
    margin: auto;
}
.li-shipping-inner-box .shipping-icon{
  padding-bottom: 20px;
}
.thead {
	background-color: #f6f6f6;
}
.your-order-table table th {
	border-top: medium none;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	width: 250px;
}
.your-order-table table th,
.your-order-table table td {
	border-bottom: 1px solid #d8d8d8;
	border-right: medium none;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	padding: 15px 0;
	text-align: center;
}
.your-order-table table tr.cart_item:hover {
	background: #F9F9F9;
}
.your-order-table table .order-total td {
	border-bottom: medium none;
}
.your-order-table table tr.order-total td span {
	color: #464646;
	font-size: 20px;
}
.your-order-table table .order-total th {
	border-bottom: medium none;
	font-size: 18px;
}
.payment-method {
	margin-top: 40px;
}
.payment-accordion .card {
	border: 0;
	border-radius: 0;
	background: #f2f2f2;
}
.payment-accordion .card-header {
	padding: 0;
	margin-bottom: 0;
	background-color: #f2f2f2;
	border-bottom: 0;
}
.payment-accordion .card-body {
	padding: 0;
}
.payment-accordion .panel.panel-default {
	margin-bottom: 20px;
}
.payment-accordion h5.panel-title {
	color: #444;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
}
.payment-accordion h5.panel-title>a:hover {
	color: #003161 !important;
}
.payment-accordion .card-body>p {
	color: #515151;
}
.order-button-payment input {
	background: #000D33 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	font-size: 17px;
	font-weight: 600;
	height: 50px;
	margin: 20px 0 0;
	padding: 0;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%;
	border: 1px solid transparent;
	cursor: pointer;
}
.order-button-payment input:hover {
	background: #003161 none repeat scroll 0 0;
}

.shipping-text p,
.shipping-text h2{
  display: block;
  text-align: center;
}



/*----------------------------------------*/
/* 6.8 Li's Compare Page
/*----------------------------------------*/
.compare-table .table td,
.compare-table .table th {
	vertical-align: middle;
	text-align: center
}
.compare-table .table thead th {
	border-width: 1px;
	padding: 15px 10px;
}
.compare-table .table-hover tbody tr {
	transition: all 0.3s ease-in-out;
}
.compare-table .table-hover tbody tr:hover {
	background-color: rgba(0, 0, 0, .02)
}
.compare-table .table tbody th {
	min-width: 200px;
}
.compare-table .table tbody td {
	min-width: 250px;
}
.compare-pdoduct-image {
	max-width: 200px;
	display: inline-block;
	padding: 20px 0;
}
.compare-pdoduct-image a {
	display: inline-block;
}
.compare-pdoduct-image .ho-button {
	margin-top: 25px;
}
h5.compare-product-name {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 0;
	color: #555;
}
h5.compare-product-name a {
	color: #555;
	-webkit-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
}
h5.compare-product-name a:hover {
	color: #003161;
}

















/*----------------------------------------*/
/* 6.11 Li's Shop Page
/*----------------------------------------*/
.sidebar-categores-box {
	background: #f4f4f4;
	border: 1px solid #e1e1e1;
	border-radius: 3px;
	box-shadow: none;
	margin-bottom: 30px;
	padding: 22.1px 15px 28px;
}
.sidebar-title {
	border-bottom: 1px solid #e1e1e1;
}
.sidebar-title h2 {
	color: #242424;
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 21px;
}
.btn-clear-all {
	background: #dddddd none repeat scroll 0 0;
	border-color: rgba(0, 0, 0, 0);
	box-shadow: 0.0625rem 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.1);
	color: #333333;
	cursor: pointer;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 15px;
	padding: 5px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	margin-top: 30px;
  font-size: 16px;
}
.btn-clear-all::before {
	content: "\f00d";
	font-family: "fontawesome";
	margin-right: 15px;
}
.btn-clear-all:hover {
  background: #242424 none repeat scroll 0 0;
  color: #fff;
}
.category-sub-menu ul li ul {
  display: none;
  margin-top: 10px;
}
.category-sub-menu ul li {
	padding-top: 10px;
	transition: all 0.3s ease-in-out;
}
.category-sub-menu ul li:hover a {
	color: #003161;
}
.category-sub-menu ul li:first-child {
	padding-top: 16px;
}
.category-sub-menu li.has-sub > a {
  color: #242424;
  cursor: pointer;
  display: block;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}
.category-sub-menu li.has-sub li a {
	border: 0 none;
	display: block;
	font-size: 14px;
	padding: 0 10px;
	color: #333;
}
.category-sub-menu li.has-sub li a:hover {
	color: #003161;
}
.category-sub-menu li.has-sub > a::after {
	color: #242424;
	content: "\f067";
	font-family: fontawesome;
	font-size: 16px;
	position: absolute;
	right: 5px;
}
.category-sub-menu li.has-sub.open > a::after {
	content: "\f068";
}
.sidebar-categores-box .filter-sub-area h5 {
  color: #2f333a;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 30px 0 10px;
  padding: 0 0 10px;
  position: relative;
  text-transform: uppercase;
}
.price-checkbox li, .size-checkbox li, .color-categoriy ul li, .categori-checkbox ul li {
  margin: 8px 0;
}
.price-checkbox li a,.size-checkbox li a,.color-categoriy ul li a,.categori-checkbox ul li a {
  color: #363f4d;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 0;
  text-decoration: none;
}
.category-tags ul li a{
  text-decoration: none;
}

.price-checkbox input, .size-checkbox input, .categori-checkbox input {
	width: auto !important;
	height: auto !important;
}
.price-checkbox li a:hover {
  color: #EB3E32;
}
.color-categoriy ul li span {
  box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: block;
  height: 15px;
  margin-top: 5px;
  width: 15px;
}
.color-categoriy ul li span.white {
  background: #ffffff;
}
.color-categoriy ul li span.black {
  background: #333;
}
.color-categoriy ul li span.Orange {
  background: #F39C11;
}
.color-categoriy ul li span.Blue  {
  background: #5D9CEC;
}
.color-categoriy li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.shop-top-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop-bar-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 479px) {
	.shop-bar-inner {
		margin-bottom: 10px;
	}
	.product-short .nice-select {
		margin-bottom: 5px;
	}
}
.shop-item-filter-list li a {
	color: #aaa;
	font-size: 20px;
	padding-right: 15px;
}
.shop-item-filter-list li a.active, .shop-item-filter-list li a:hover {
	color: #242424;
}
.shop-item-filter-list li a.active {
  color: #242424;
}
.toolbar-amount {
  font-size: 14px;
  margin-left: 30px;
  margin-top: 5px;
}
.product-short {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.product-short > p {
  font-size: 14px;
  margin: 5px 10px 0 0;
}
.single-banner img {
  width: 100%;
  height: 100%;
}
.product-short .nice-select {
	border-radius: 0;
	color: #242424;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	width: 320px;
	z-index: 999;
}
@media only screen and (max-width: 767px) {
	.product-short .nice-select {
		width: 180px;
	}
}
.product-short .nice-select .list {
  border-radius: 0px;
  width: 100%;
  z-index: 99;
}
.shop-top-bar {
  padding: 15px;
  border: 1px solid #ededed;
}
@media only screen and (max-width: 767px) {
	.shop-top-bar {
		display: flex;
		flex-wrap: wrap;
	}
}
.product-short  .nice-select .option {
  line-height: 30px;
  min-height: 30px;
}
.product-image > a img {
  width: 100%;
  height: 100%;
  position: relative;
}
.product-image span{
  width: 40px;
  height: 40px;
  background-color: #026bc2;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 30px;
}
.shop-products-wrapper .tab-content .tab-pane.active {
    display: block;
}
.shop-products-wrapper .tab-content .tab-pane {
    display: none;
    height: auto;
}
.category-tags > ul > li {
	background: #fff;
	display: inline-block;
	padding: 2px 10px;
	border: 1px solid #ebebeb;
	transition: all 0.3s ease-in-out;
	margin: 0 2px 5px;
}
.category-tags > ul > li:first-child {
	margin-top: 30px;
}
.category-tags > ul > li:hover {
	background: #242424;
}
.category-tags > ul > li:hover a {
	color: #ffffff;
}
/*----- paginatoin-area  css -----*/
.paginatoin-area {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #ededed;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 400;
  /* margin: 40px 0 0; */
  padding: 9px;
}
.paginatoin-area p {
  margin: 0;
}
.pagination-box {
  text-align: right;
}
.pagination-box > li {
  display: inline-block;
}
.pagination-box > li.active a {
  color: #003161;
}
.pagination-box > li a {
  color: #333333;
  display: block;
  padding: 0 10px;
}
.pagination-box > li a:hover {
	color: #003161;
  text-decoration: none;
}
.product-layout-list .product_desc .product_desc_info .rating-box {
  border-bottom: medium none;
  padding-bottom: 0;
  text-align: left;
}

.rating-box .rating{
  display: flex;
}
/*----------------------------------------*/
/* 6.12 Li's Single Product
/*----------------------------------------*/
.product-details-view-content .product-desc {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 25px;
}
.product-details-view-content .product-desc p {
	margin-bottom: 20px;
}
.single-add-to-cart {
	float: left;
	width: 100%;
}
.product-additional-info {
	float: left;
	width: 100%;
}
.product-additional-info .wishlist-btn i {
	padding-right: 10px;
}
.product-social-sharing > ul > li {
	display: inline-block;
	border-radius: 2px;
	transition: all 0.3s ease-in-out;
	width: 85px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
@media only screen and (max-width: 479px) {
	.product-social-sharing > ul > li {
		line-height: 18px;
		margin-bottom: 15px;
	}
}
.product-social-sharing > ul > li:hover {
	background: #003161;
}
.product-social-sharing > ul > li > a {
	color: #ffffff;
	font-size: 12px;
	display: block;
}
.product-social-sharing > ul > li > a > i {
	margin-right: 5px;
}
.block-reassurance {
	float: left;
	width: 100%;
}
.block-reassurance > ul > li {
	border-bottom: 1px solid #e1e1e1;
}
.block-reassurance > ul > li:last-child {
	border-bottom: none;
}
.reassurance-item {
	padding: 25px 0 20px;
}
.reassurance-item p {
	margin: 0;
}
.reassurance-icon {
	float: left;
	padding-right: 10px;
}
.reassurance-icon i {
	font-size: 18px;
}
.product-description, .product-details-manufacturer, .product-reviews {
	padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.product-review h5 a{
  text-decoration: none !important;
}
h4 .product_name{
  text-decoration: none !important;
}
.product_desc_info h4{
  padding: 10px 0;
}

.product_desc_info .product-review{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.product-details-manufacturer a img {
	padding: .25rem;
	background-color: #fff;
	border: 1px solid #e1e1e1;
	border-radius: 0;
	transition: all .2s ease-in-out;
	margin-bottom: 20px;
}
.product-details-manufacturer p {
	margin: 0;
}
.product-details-manufacturer p span {
	color: #232323;
	font-weight: 700;
}
.product-details-comment-block .comment-review span {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: #6c6c6c;
}
.comment-author-infos span {
	color: #333;
	font-weight: 600;
}
.product-details-comment-block .comment-review .rating {
	display: inline-block;
	padding-left: 10px;
	font-size: 18px;
}
.comment-author-infos em {
	display: block;
	color: #adadad;
}
.comment-details {
	overflow: hidden;
	margin-top: 25px;
}
.comment-details h4 {
	font-weight: 600;
	text-transform: capitalize;
	font-size: 14px;
	color: #6c6c6c;
}
/*Review Content*/
.review-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
	outline: 0;
}
.review-body {
	position: relative;
	padding: 15px;
}
#li-comment-wrap {
	overflow: hidden;
	color: #333;
	text-align: left;
}
.review-page-title {
	padding: 10px;
	font-size: 13px;
	color: #ffffff;
	text-transform: uppercase;
	background: #333;
}
.li-review-product {
	padding: 15px;
}
.li-review-product img {
	border: 1px solid #ebebeb;
}
.li-review-product-desc {
	line-height: 18px;
	color: #6f6f6f;
}
.li-product-name {
	padding: 10px 0 5px;
	font-size: 13px;
	color: #000;
}
.feedback-area .br-theme-fontawesome-stars .br-widget a {
	font-size: 14px;
}
.feedback-area .br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: #003161;
}
.feedback-area .br-theme-fontawesome-stars .br-widget a.br-selected::after {
	color: #003161;
}
.feedback-area textarea, .feedback-area input {
	background: #fff;
	border: 1px solid #ebebeb;
	font-size: 14px;
}
.feedback-btn {
	position: relative;
}
.feedback-btn .close, 
.feedback-btn a {
	background: #242424;
	color: #fff !important;
	width: 80px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	left: 110px;
	right: auto;
	top: 0;
	display: block;
	transition: all 0.3s ease-in-out;
}
.feedback-btn .close:hover,
.feedback-btn a:hover {
	background: #003161;
}
/*----------------------------------------*/
/* 6.13 Single Product Carousel Page
/*----------------------------------------*/
.sp-carousel-page .single-product {
	border: 1px solid #e1e1e1;
}
.sp-carousel-content {
	text-align: center;
}
.sp-carousel-content .single-add-to-cart {
	width: 100%;
}
.sp-carousel-content .quantity {
	display: inline-block;
}
.sp-carousel-content .cart-quantity label {
	display: inline-block;
	margin-right: 10px;
}
.sp-carousel-content .cart-plus-minus {
	float: unset;
	display: inline-block;
}
.sp-carousel-content .cart-quantity {
	margin-top: 5px;
}
.sp-carousel-content .product-social-sharing {
	padding-top: 30px;
}



.product-img {
	width: 30%;
	float: left;
	padding: 15px;
}
.featured-pro-content {
	width: 70%;
	float: right;
	padding: 15px;
}
/*----------------------------------------*/
/*  6.1 Li's Shop Page
/*----------------------------------------*/
.hb-megamenu > li ul > li.active > a {
	color: #003161;
}
.header-bottom-other-page {
	margin-bottom: 0;
}
/*Li's Breadcrumb*/
.breadcrumb-area {
	padding: 21px 0 22px;
	background: #f9f9f9;
}
.breadcrumb-content li {
	color: #a4a4a4;
	display: inline-block;
	font-size: 14px;
	margin-right: 28px;
	position: relative;
}
.breadcrumb-content li a {
	color: #242424;
}
.breadcrumb-content li a:hover {
	color: #242424;
}
.breadcrumb-content li::before {
	background-color: #aaaaaa;
	content: "";
	height: 2px;
	position: absolute;
	right: -22px;
	top: 10px;
	transform: rotate(-67deg);
	transition: all 0.4s ease 0s;
	width: 12px;
}
.breadcrumb-content li:last-child::before {
	display: none;
}
.product-layout-list {
	border-bottom: 1px solid #e1e1e1;
	margin: 40px auto 0;
}
.product-layout-list.last-child {
	border-bottom: none;
}
.category-block {
	box-shadow: none;
	background: transparent;
	padding: 0 15px;
	margin-bottom: 30px;
	background: #f4f4f4;
	border: 1px solid #e1e1e1;
}
.category-widget-top-menu > li > h6 > a {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #242424;
	text-transform: capitalize !important;
	border-bottom: 1px solid #e1e1e1;
	padding: 20px 0;
	margin-bottom: 30px;
	position: relative;
	display: block;
	letter-spacing: -.025em;
}
.shop-add-action {
	opacity: 1;
	background: #f7f7f7;
	border: 1px solid #e1e1e1;
	padding: 50px 30px 50px 30px;

}
.shop-add-action .add-actions-link {
	margin: 0;
	padding: 0;
}

.add-actions ul{
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.add-actions-link .add-cart {
	width: 138px;
	height: 37px;
	background-color: #000D33;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.shop-add-action .add-actions-link li.add-cart {
	margin: 0 0 25px;
  width: 120px;
  background-color: #b3b3b3;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
  height: 38px;
  opacity: 0.6;
  transition: 0.3s;

}


.add-actions-link .quick-view-btn,
.add-actions-link .links-details {
  padding: 0 20px;
}



.add-actions-link li.add-cart:hover{
  background-color: #003161;
  color: #FFF;
  opacity: 1;
}
.add-actions-link li.add-cart a {
  text-decoration: none; 
  color: inherit; 
}

.shop-add-action .add-actions-link li.wishlist, 
.shop-add-action .add-actions-link li:last-child {
	display: block;
	width: 100%;
	background: transparent;
  opacity: 50%;
}
.shop-add-action .add-actions-link li.wishlist a,
.shop-add-action .add-actions-link li:last-child a.quick-view {
	text-align: left;
	background: transparent;
	font-size: 14px;
  text-decoration: none;
}
.product-list-view .shop-add-action ul li a i {
	padding-right: 10px;
}














